NUXT_PUBLIC_API_BASE=https://git.chetuoche.net/official-website-server
NUXT_PUBLIC_PROXY_API=https://api.chetuoche.net
NUXT_PUBLIC_TMAP_KEY=your_tencent_map_api_key_here
NUXT_PUBLIC_GA4_MEASUREMENT_ID=
NUXT_PUBLIC_BAIDU_HM_ID=
